<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.begin.dao.board.CustomerDAOMapper">

    <resultMap type="com.my.testA.model.Customer" id="MemberResultMap">
        <result property="customerId" column="customerId" /><!--property가 클래스고 뒤에 컬럼이 db이다-->
        <result property="name" column="name" />
        <result property="age" column="age" />
    </resultMap>

    <select id="findAllMapper" resultMap="MemberResultMap">
        SELECT * FROM customer
     </select>

    <insert id="insertByCustomerIdMapper">
        INSERT into customer ('name', 'age') values(#{name}, #{age})
    </insert>

</mapper>